<div class="col-md-2"></div>
<div class="col-md-8">
<%= link_to(question_path(question.id), class:"list-group-item", id:"question-#{question.id}") do %>
      <%= question.user.name %> |
      <%= question.content if question.content? %>
<% end %>
</div>
<div class="col-md-2"></div>