 <% if !current_user.admin? %>
      <div class="row">
        <div class="page-header"><h1>Qual é a sua pergunta?</h1></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <%= render 'users/question_form' %>
        </div>
        <div class="col-md-2"></div>
      </div>
  <% end %>
  <div class="row">
    <div class="page-header"><h1>Perguntas</h1></div>
  </div>
  <div class="row">
    <%= render 'users/feed' %>
  </div>