// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin background_sizing {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
}

@mixin following_page_padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

@mixin padding_top {
  padding-top: 30px;
}

/* universal */

body {
  margin: 0 auto;
  padding-top: 50px; /* Whatever the height of your navbar is; the
                             default is 50px */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* static pages */

#team {
  background-color: white;
  @include background_sizing;
  .container {
    .maintext {
      padding-top: 30px;
      img {
        height: 300px;
        float: left;
      }
    }
  }
}

#contact {
  background-color: white;
  @include background_sizing;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration:none;
  }
}

/* footer */

body {
  height: 100%;
  @include  background_sizing;
  background: #2e3741;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: white;
  border-top: 1px solid #eaeaea;
  margin-top: 50px;
}

/* typography */

h1, h2, h3, h4 {
  color: white;
  text-align: center;
}

/* devise pages */
.signup, .login, .signup {
  @include padding_top;
}

.signup {
  .info {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    border-color: transparent;
    h3, h4 {
      color: white;
    }
  }
}

.navbar-custom {
  //background-color: transparent;
  background-color: #2e3741;
  border: transparent;
  .navbar-nav {
    li {
      a {
        color: white;
      }
    }
  }
}

.registrations-new {
  background-image: url('landing_picture.jpeg');
  @include  background_sizing;
}

.page-header {
  border-color: transparent;
}

.panel-default {
  .panel-heading {
    h4 {
      color: black;
    }
  }
}