// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin background_sizing {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

@mixin first_page_padding {
  padding-top: 50px;
}

@mixin following_page_padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* universal */

body {
  margin: 0 auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.jumbotron {
  margin-top: 250px;
  text-align: center;
  background-color: rgba(232, 163, 22, 0.3);
  h1 {
    margin-bottom: 10px;
    color: black;
  }
}

/* static pages */

#landing {
  background-image: url('teacher.jpg');
  @include background_sizing;
}

#description {
  @include following_page_padding;
  background-color: #efb230;
  @include background_sizing;
}

#explanation {
  @include following_page_padding;
}

#team {
  @include first_page_padding;
  background-color: white;
  @include background_sizing;
  .container {
    .maintext {
      padding-top: 30px;
      img {
        height: 300px;
        float: left;
      }
    }
  }
}

#contact {
  @include first_page_padding;
  background-color: white;
  @include background_sizing;
}

#planos {
  @include following_page_padding;
  background-color: #31c090;
  @include background_sizing;
}

/* authentication */
#signup, #login {
  @include first_page_padding;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #B00100;
    text-decoration:none;
  }
}

/* footer */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: white;
  border-top: 1px solid #eaeaea;
}

/* typography */

h1, h2, h3 {
  color: black;
  text-align: center;
}
