<div id="explanation">
  <div class="container">
    <h1>Como funciona?</h1>
    <h3>Faca login e poste sua pergunta. Dentro de 48h video explicacao estara disponivel e
      voce sera notificado com o link do video.</h3>
    <h3>Com a conta basica, voce tem direito a 1 pergunta gratis</h3>
  </div>
</div>