<div id="footer">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Quem somos", team_path %></li>
        <li><%= link_to "Contato", contact_path %></li>
      </ul>
    </nav>
  </div>
</div>