<div id="landing">
<div class="container">
  <div class="col-md-6">
      <div class="row panel panel-default">
        <h2>Plantão de dúvidas virtual</h2>
        <h4>Ajuda rápida e sem custo dos melhores professores de Sao Paulo.
          Respondemos perguntas de física, química e matemática.</h4>
      </div>
    <div class="row panel panel-default">
      <h2>Como funciona?</h2>
      <h4>Simples! É só fazer a sua inscrição ao lado e postar sua pergunta por foto ou texto.
      Dentro de 48h, postamos a vídeo resposta, e você será notificado por email.</h4>
    </div>
    <div class="row panel panel-default">
      <h2>Quanto custa?</h2>
      <h4>Nada, cada mês você tem direito a 5 perguntas. </h4>
    </div>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      Hello
    </div>
  </div>
</div>
</div>