<div id="aulas">
  <div class="container">
    <h1>Serviços</h1>
    <h2>Apresentamos solucoes para os problemas da sua organizacao</h2>
    <h3>"Vel ex eligendi scriptorem,pro dolore facilisi ne, in aperiri detracto ius.
      Modo ceteros contentiones sea ut, nec id putent feugait,
      te ferri lucilius forensibus his.
      Eam fugit utamur blandit ea. Ut sint saperet voluptatum nam.
      Omnes nostro id sea, ea labore intellegam sit."
    </h3>
  </div>
</div>