<div id="team">
  <div class="container">
    <h1>Professora Lara Wada</h1>
    <div class="maintext">
      <div class="media">
        <div class="media-left">
            <%= image_tag('lara.jpg') %>
        </div>
        <div class="media-body">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          </div>
        </div>
    </div>
  </div>
</div>

