<div id="team">
  <div class="container">
    <h1>Professora Lara Wada</h1>
    <div class="maintext">
      <div class="col-md-6" style="text-align: right">
        <%= image_tag('lara.jpg') %>
      </div>
      <div class="col-md-6">
        Formada na USP
      </div>
    </div>
  </div>
</div>

